{% extends "account/base.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock head_title %}

{% block maincontent %}
<div class="container-fluid container-bg vh-100 card mb-3 border-0 ms-1 me-1">
    <h1>{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
</div>
{% endblock maincontent %}
