// Colors
$color-primary-dark: hsla(234, 60, 20, 1);
$color-primary-light: hsla(234, 60, 60, 1);
$color-primary-lighter: rgb(199, 200, 214);
$color-primary-lightest: rgb(208, 209, 214);
$color-secondary-dark: hsla(263, 94, 6, 1);
$color-secondary-light: hsla(261, 31, 42, 1);